@using Project.BL.DTOs
@model TeacherUpdateDto

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input asp-for="FullName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>

    <div class="mb-3">
        <input asp-for="ProfessionId" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="ProfessionId"></span>

    </div>
    <div class="mb-3">
        <input asp-for="ImagePath" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="ImagePath"></span>

    </div>
    <div>
        <span class="text-danger">@Html.ValidationSummary()</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>